*{
    margin: 0px;
    padding: 0px;
}
.container{
    padding: 0 128px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1184px;
    height: 113px;
    padding: 32px 0;
}
.start-navbar{
    display: flex;
    gap: 10px;
    align-items: center;
}
.anh1{
    width: 20px;
    height: 20px;
}
.menu-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    width: 428px;
    height: 17px;
}
.menu-navbar{
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #222831;
}
.last-navbar{
    display: flex;

}
.last-navbar button{
    background-color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    color: #222831;
}
#sign-up{
    background-color: #5D50C6;
    color: white;
}
.center{
    padding-top: 113px;
    padding-left: 128px;
    display: flex;
    width: 1184px;
    height: 841px;
    padding:64px 0;

}
.first-center{
    gap: 43px;
    margin-top: 132px;
    margin-right: 772px;
    width: 412px;
    height: 577px;
    
    
}
.khung1{
    width: 224px;
    height: 56px;
    border-radius: 100px;
    background-color:white;
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    border: 1px solid#EEEEEE;
}
.khung1 p{
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #F85E9F;
    font-family: "Poppins", sans-serif;
}
.anh2{
    height: 25px;
    width: 25px;
    padding-bottom: 3px;
}
.chu1{
    width: 412px;
    height: 249px;
    font-weight:700;
    font-size: 69px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 35px;
}
span{
    color: #F85E9F;
}
.chu2{
    width: 412px;
    height: 87px;
    font-size: 18px;
    font-weight: 700;
    line-height: 160%;
    color: #19182580;
    font-family: 'Inter', sans-serif;
    margin-bottom: 35px;
}
.khung2{
    width: 338px;
    height: 56px;
    gap: 16px;
    display: flex;
    flex-direction: row;
    
    

}
#get-started{
    background-color: #5D50C6;
    color: white;
    border-radius: 100px;
    width: 141px;
    height: 49px;
    border: none;
    
}
#watch-demo{
    width: 181px;
    height: 56px;
    border-radius: 100px;
    border: 1px solid #EEEEEE ;
    color:#000000;
    display:flex;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#anh3{
    height: 25px;
    width: 25px;
}
.khung3 {
    position: relative;
    width: 772px;
    height: 713px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-left: -600px; 
    margin-top:70px;
    gap: 40px;
}


.khungnho1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    z-index: 2;
}

.khungnho2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#anh7, #anh8 {
    width: 260px;
    height: 320px;
    border-radius: 24px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


#anh9 {
    width: 300px;
    height: 480px;
    border-radius: 24px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* icon tròn hồng và cam */
#anh5, #anh6 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    z-index: 3;
}

#anh5 {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 20px;
    right: 180px;
    background-color: Orange;
}


#anh6 {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 340px;
    left: -40px ;
    background-color:white;
}

/* nút “Top Places” */
.top-place {
    position: absolute;
    width: 130px;
    height: 30px;
    top: 470px;
    left: 520px;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 6px 20px rgba(248, 94, 159, 0.2);
    color: #191825;
    z-index: 3;
}
#anh4 {
    width: 34px;
    height: 34px;
}
/* ✅ Responsive cho mobile */
@media (max-width: 430px) {
    .container {
        padding: 0 16px;
        overflow-x: hidden;
    }

    /* Navbar */
    .navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 16px 0;
        gap: 10px;
    }

    .menu-navbar {
        flex-direction: column;
        gap: 8px;
    }

    .last-navbar button {
        padding: 8px 16px;
        font-size: 13px;
    }

    /* Bố cục chính */
    .center {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 32px 0;
        width: 100%;
        height: auto;
    }

    .chu1 {
        font-size: 32px;
        width: 100%;
    }

    .chu2 {
        font-size: 15px;
        width: 100%;
    }
    
  .khung3 {
    display: block;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  .khung3 img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }


}
